.app-header {
  display: flex;
  align-items: center;
  padding: 12px;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: white;
  font-weight: 600;
  width: 100vw;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-inline: 20px;
}

.nav-ul {
  display: flex;
  width: 430px;
  text-decoration: none;
  align-items: center;
  position: relative;
  top: 10px;
}

.nav-link {
  text-decoration: none;
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #045690 !important;
  font-weight: 500;
}

.header-action {
  display: flex;
  justify-content: space-around;
  width: 15%;
  position: absolute;
  right: 20px;
  align-items: center;
  top: 50px;
}

.header-button {
  height: 46px;
  background-color: #045690;
  color: white;
  border-radius: 4px;
  border: none;
  font-family: Noto Sans;
  font-size: medium;
  line-height: 150%;
  font-weight: 600;
  width: 210px;
  cursor: pointer;
  padding-inline: 25px;
}

.header-button:hover {
  height: 46px;
  background-color: #045690 !important;
  color: white !important;
  border-radius: 4px;
  border: none;
  font-family: Noto Sans;
  font-size: medium;
  line-height: 150% !important;
  font-weight: 600;
  cursor: pointer;
}

.highlighter {
  border: solid 2px #045690;
  width: 125%;
  border-radius: 10px;
  margin-top: 2px;
}

.home-container {
  /* background-image: url("/src/assets/Hero_bgcolor_linear.png"); */
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 1008.32px;
  margin-top: 130px;
  background-image: linear-gradient(#045690, black);
}

.flags-container {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  padding-inline: 20px;
}

.app-icons {
  width: fit-content;
  height: fit-content;
}

.whats-app {
  position: fixed;
  top: 85vh;
  left: 100px;
}

.scroll-app {
  position: fixed;
  left: 48vw;
  top: 85vh;
}

.scroll-back {
  position: fixed;
  left: 82vw;
  top: 85vh;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 25px;
  color: #045690;
  padding: 20px;
  border-radius: 50px;
  background-color: rgba(259, 259, 259, 0.5);
  font-weight: 600;
  cursor: pointer;
}

.banner {
  width: 825px;
  height: 350px;
  margin-inline: auto;
  text-align: center;
  padding-top: 110px;
}

.banner-head {
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 900;
  line-height: 108px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.banner-text {
  font-family: Noto Sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.outline-right {
  position: absolute;
  bottom: -110px;
  right: 0;
}

.outline-left {
  position: absolute;
  bottom: -190px;
  left: 0px;
}

.timeline-container {
  background-image: url("/src//assets/Asset_Bg_Globe\ \(1\).png");

  height: 752px;

  width: 100%;
  background-position: center;
  background-size: cover;

  position: relative;
  border: solid white 2px;
  position: relative;
  top: -90px;
  text-align: center;
}

.timeline-head {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: #505050;
  width: 70%;
  margin-inline: auto;
  /* padding: 150px 150px 0 150px; */
  margin-top: 170px;
}

.time-sub {
  color: #00467f;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 58px;
}

.time-card-container {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-inline: auto;
  padding: 50px;
  align-items: center;
}

.number-heading {
  font-family: Noto Sans;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.time-card {
  margin-inline: 40px;
  padding: 10px;
  border-radius: 10px;
  width: 210px !important;
  height: 250px;
}

.text-heading {
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: #505050;
  margin: 10px 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.learn-more-btn {
  width: 363px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #00467f;
  cursor: pointer;
  color: #00467f;
  font-weight: 600;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: white;
  font-size: 24px;
}

.journey {
  background: #25538d;
  height: 750px;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px !important;
}

.journey-heading {
  font-family: Noto Sans;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  height: fit-content !important;
  padding-top: 0 !important;
  margin-top: 60px;
}

.journey-sub {
  margin: 30px auto 40px;
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.journey-steps {
  width: 1220.28px;
  height: 396.06px;
  background-color: #ffffff0d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.number-in-circle {
  position: absolute;
  left: 50%;
  top: 45%;
  font-family: Noto Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #25538d;
}

.tile {
  z-index: 1002;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -160px;
  color: white;
  font: 500;
}

.services {
  position: relative;
  top: 0;
  text-align: center;
  padding: 0px 0;
}

.service-title {
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505050;
  width: fit-content;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.services-text {
  font-family: Noto Sans;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #045690;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.services-sub-text {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: #505050;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.services-plan-container {
  display: flex;
}

.plan-container {
  background-position: center;
  background-size: cover;
  height: 875px;
  position: relative;
  width: 50%;
}

.plan-heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 50px;
  font-weight: 700;
  line-height: 100px;
  text-align: left;
  color: white;
  padding: 50px;
  position: relative;
  top: 180px;
  width: 80%;
  z-index: 1000;
}

.plan-sub-heading {
  font-family: Noto Sans;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #e7e7e7;
  padding: 50px;
  position: relative;
  top: 120px;
  z-index: 1000;
}

.plan-btn {
  width: Fixed (275px);
  height: Fixed (60px);
  border-radius: 4px;
  color: #004b6a;
  border: none;
  position: absolute;
  bottom: 100px;
  left: 50px;
  font-weight: 600;
  font-size: 22px;
  height: 60px;
  width: 290px;
  box-sizing: border-box;
  font-family: Noto Sans;
  cursor: pointer;
}

.plan-logo {
  position: absolute;
  left: 50px;
  top: 50px;
}

.plan-heading {
  text-transform: uppercase;
}

.plan-stroke {
  position: absolute;
  top: 100px;
  right: 0;
}

.visas {
  position: relative;
  top: -50px;
  padding: 50px;
  background: #00467f0d;
}

.service-title {
  margin-bottom: 28px;
}

.services-text {
  margin: 20px auto;
}

.visa-name {
  position: absolute;
  font-family: Noto Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  bottom: 20%;
  left: 30px;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.visa-card {
  position: relative;
  height: 426px;
  width: 417px;
  background-position: center;
  background-size: cover;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.visa-more {
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  bottom: 8%;
  text-decoration: underline;
  color: white;
  left: 30px;
}

.visas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.client {
  background-color: white;
}

.client-card {
  width: 400px;
  height: 200px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 20px auto;
}

.upper-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.twitter-container {
  position: relative;
}

.twitter {
  position: absolute;
  bottom: 10px;
  right: 8px;
}

.client-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer {
  background-color: #00467f;
  display: flex;
  position: relative;
  top: 100px;
  width: 100vw;
  padding: 40px;
  justify-content: space-around;
  color: white;
  font-weight: 500;
  box-sizing: border-box;
}
.footerNew {
  background-color: #00467f;
  display: flex;
  position: relative;
  width: 100vw;
  padding: 40px;
  justify-content: space-around;
  color: white;
  font-weight: 500;
  box-sizing: border-box;
}

/* zxOOM */

header {
  position: relative;
}
.title {
  text-align: center;
}
.content {
  margin: 0 auto;
  max-width: 90%;
  width: 720px;
  height: 100%;
}
main {
  padding: 1% 0;
  position: relative;
  background: white;
  box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.25);
}

.zoom {
  overflow: hidden;
  padding-bottom: 50%;
  background-image: url("./assets/anirudh-Xu4Pz7GI9JY-unsplash\ \(1\).jpg");
  background-size: 100% 100%;
}
.title {
  position: absolute;
  top: 40%;
  width: 100%;
}
.title h1 {
  text-align: center;
  color: #fff;
}
@media (max-width: 1024px) {
  .content {
    text-align: justify;
  }
  .zoom {
    overflow: hidden;
    padding-bottom: 50%;
  }
}

.container {
  height: 2000px; /* Just for demonstration, to create enough scrollable area */
}

.target-div {
  opacity: 0; /* Initially hide the target div */
  transition: opacity 0.5s ease; /* Add a transition for smooth effect */
}

.visible {
  opacity: 1;
}

.global_presence {
  text-align: center;
  margin-top: 320px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #004b6a !important;
  border-color: #00467f !important;
}

.ant-switch-checked {
  background: #00467f !important;
}

.global-sub {
  color: #505050;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.global-main {
  color: #045690;
  font-size: 50px;
  font-family: Noto Sans;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.global-text {
  font-size: 20px;
  margin-inline: auto;
  margin: 40px auto;
  font-family: Noto Sans;
  color: #505050;
  width: 90%;
  line-height: 200%;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 100px;
  margin-bottom: 70px;
}

.section-heading {
  color: #080808;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Noto Sans;
  margin: 20px auto;
}

.section-content {
  font-size: 20px;
  color: #4b4b4b;
}

.article-container {
  margin: 40px auto;
  margin-inline: 100px;
}

.article-heading {
  color: #25538d;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px auto;
  font-family: Noto Sans;
  letter-spacing: 0.9px;
}

.article-content {
  font-size: 20px;
  color: #000;
  line-height: 52px;
}

.citizen-planning {
  background-color: #25538d;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 50px 0 50px 0;
}

.citizen-card {
  width: 33%;
  padding: 50px;
  font-family: Noto Sans;
}
.citizen-heading {
  color: #fff;
  line-height: 42px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Noto Sans;

  height: 100px;
}

.citizen-content {
  font-size: 20px;
  line-height: 34px;
  color: white;
  padding: 0 20px 0 0;
  font-family: Noto Sans;
}

.app-container-main {
  background-color: white;
  padding: 0;
}
.app-container-outlet {
  padding: 0;
}

.app-container {
  padding: 0;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  align-items: center;
  position: relative;
}

.contact-card {
  width: 270px;
  height: 180px;
  box-sizing: border-box;
}
.contact-card img {
  margin: 10px;
}
.contact-row {
  padding: 60px 0;
}

.country-name {
  color: #000;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.contact-content {
  color: #505050;
  width: 80%;
  margin-inline: auto;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.program-card {
  width: 300px;
  height: 300px;
  margin: 20px auto;
}

.program-graphics {
  text-align: left;
}
.program-graphics img {
  margin: 20px 0;
}

.program-content {
  color: #505050;
  line-height: 25px;
  width: 80%;
  text-align: left;
  margin-top: 20px;
}

.get-in-touch {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
}

.service-name {
  color: #000;
  font-size: 25px;
  font-family: Noto Sans;
  text-transform: uppercase;
  font-weight: 500;
}

.service-content {
  display: flex;
  justify-content: space-around;
  padding: 4px;
  margin-top: 15px;
  width: 80%;
  margin-inline: auto;
  font-family: Noto Sans;
  font-size: 16px;
  color: #3c3c3c;
  padding-bottom: 20px;
  font-weight: 500;
}

.services-section {
  border-bottom: solid 1px #d7d7d7;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 80%;
  margin-inline: auto;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-top: 20px;
  border-radius: 10px;
}

.services-section:hover {
  background-color: rgba(4, 86, 144, 5%);
  cursor: pointer;
}

.tile-item {
  font-family: Noto Sans;
  font-size: 30px;
  font-weight: 600;
}

.contact-us-heading {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 150%;
  color: #045690;
  font-size: 29px;
  position: relative;
  top: -15px;
}

.media {
  width: 100%;
  height: 30rem;
  object-fit: contain;
}

.carousel {
  position: relative;
}

.item {
  background-color: black;
}

.index {
  position: absolute;
  top: 0.1rem;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: Roboto;
  color: black;
  padding: 0.1rem 0.3rem;
  background-color: lightgray;
  left: 1rem;
  opacity: 0.75;
}

.caption-container {
  position: absolute;
  bottom: 0;
  left: 20rem;
  right: 20rem;
}

.caption {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: Roboto;
  background-color: lightgray;
  color: black;
  width: fit-content;
  margin: 0 auto;
  opacity: 0.75;
}

.btn-prev,
.btn-next {
  position: absolute;
  font-size: 50px;
  color: #3c3c3c;
  cursor: pointer;
  top: 13rem;
}
.btn-prev {
  left: -9rem;
}
.btn-next {
  right: -9rem;
}

.ant-input {
  font-family: Noto Sans !important;
}
.plan-btn:hover {
  width: Fixed (275px);
  height: Fixed (60px);
  border-radius: 4px;
  color: #004b6a !important;
  border: none;
  position: absolute;
  bottom: 100px;
  left: 50px;
  font-weight: 600;
  font-size: 22px;
  height: 60px;
  width: 290px;
  box-sizing: border-box;
  font-family: Noto Sans;
  cursor: pointer !important;
}

.styles-module_whatsappButton__tVits {
  position: fixed !important;
  left: 100px !important;
  top: 85vh !important;
}

.styles-module_whatsappChatBox__MdQ5U {
  position: fixed !important;
  left: 100px !important;
}

.testimonial-container {
  text-align: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  background-image: url("./assets/videoback.jpg");
  background-position: center;
  background-size: contain;
  background-blend-mode: soft-light;
}

.ant-select-arrow {
  color: #00467f !important;
}

.ant-input:hover {
  border-color: #00467f !important;
}

.ant-select-selector:hover {
  border-color: #00467f !important;
}

@media only screen and (max-width: 800px) {
  .video-after-zoom {
    object-fit: cover;
  }

  .home-container {
    height: 800px;
    position: relative;
  }

  .zoom {
    width: 100%;
    height: 800px !important;
    background-size: 100% 100%;
    background-position: center;
    background-size: cover !important;
    text-align: center;
  }

  .image-zoom {
    width: 60%;
    left: 20% !important;
    top: 45% !important;
  }

  .serving-text {
    font-size: large !important;
    left: 0% !important;
    top: 90% !important;
    width: 100% !important;
    margin-inline: auto;
    text-transform: uppercase;
    text-align: center;
  }

  .videoIcon {
    width: 25px;
    height: 25px;
    top: 77px !important;
    left: 20%;
  }

  .video-mobile {
    height: 750px !important;
    object-fit: cover;
  }

  .video-skip {
    font-size: 14px !important;
    margin-inline: 5px !important;
    color: white !important;
    padding: 4px 10px 4px 10px !important;
    border-radius: 50px !important;
    top: 70px !important;
  }

  .logo-container img {
    width: 150px !important;
  }

  .header-action {
    padding: 0px !important;
  }

  .banner {
    width: 100vw;
  }

  .app-header {
    align-items: center;
    padding-bottom: 20px;
  }

  .banner-head {
    font-size: 33px !important;
    line-height: 150%;
  }

  .banner-text {
    font-size: 18px;
    width: 80%;
    margin-inline: auto;
    line-height: 150%;
  }

  .outline-right {
    bottom: 72px;
    position: absolute;
  }

  .outline-left {
    bottom: 42px;
  }

  .global_presence {
    margin-top: 0;
  }

  .global-sub {
    font-size: 22px;
  }
  .global-main {
    font-size: 32px;
    line-height: 200%;
  }
  .global-text {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-card {
    height: 180px;
    box-sizing: border-box;
    width: 160px;
  }

  .contact-row-mobile {
    padding: 0;
    position: absolute;
    left: -0px;
  }

  .country-name {
    font-size: 14px;
    line-height: 100%;
  }

  .contact-content {
    font-size: 12px !important;
  }

  .timeline-container {
    top: -300px !important;
    height: 1100px;
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .timeline-head {
    font-size: 18px !important;
    text-transform: uppercase;
    width: 90%;
    margin-top: 50px;
  }

  .time-sub {
    font-size: 30px;
    width: 95%;
    margin-inline: AUTO;
  }

  .time-card-container {
    flex-wrap: wrap;
    padding: 20px !important;
    margin-inline: 0 !important;
    width: 90%;
    justify-content: center;
  }

  .time-card {
    margin-inline: 20px;
    width: 200px !important;
    height: 200px;
  }

  .text-heading {
  }

  .learn-more-btn {
    margin-top: 10px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .banner {
    padding-top: 70px;
  }

  .banner-head {
    padding-bottom: 20px;
  }

  .journey-heading {
    font-size: 30px;
  }

  .journey-sub {
    font-size: 20px !important;
    margin: 40px auto !important;
  }

  .journey-steps {
    flex-direction: column;
    height: 1100px !important;
  }

  .journey {
    height: 1200px;
    margin-top: 60px !important;
  }

  .tile {
    flex-direction: column;
    width: fit-content !important;
    position: relative;
  }

  .tile-item {
    position: absolute !important;
    color: white;
  }
  .services-text {
    font-size: 30px;
    margin: 30px !important;
    text-align: center !important;
    width: fit-content;
    margin-inline: auto !important;
  }
  .service-title {
    margin-inline: auto !important;
    font-size: large;
    text-align: center;
  }
  .service-content {
    margin-inline: auto !important;
    text-align: center;
  }
  .services-text {
    text-align: left !important;
    margin-inline: 20px !important;
    font-size: x-large;
    margin: 30px !important;
    text-align: center !important;
    width: fit-content;
    margin-inline: auto !important;
  }
  .services-sub-text {
    margin-inline: 20px !important;
    line-height: 160%;
  }

  .plan-heading {
    font-size: 32px;
    line-height: 70px !important;
  }

  .plan-container {
    width: 100%;
    line-height: 20px !important;
    height: 800px;
  }

  .plan-btn {
    font-size: 18px;
    height: 50px;
    margin-inline: auto;
    z-index: 1400;
  }

  .plan-sub-heading {
    font-size: 24px;
    line-height: 40px;
  }

  .client {
    padding: 20px;
  }

  .service-title {
    margin-bottom: 20px !important;
  }

  .services-text {
    margin-bottom: 20px !important;
  }

  .btn-prev {
    left: -6rem;
  }
  .btn-next {
    right: -6rem;
  }
  .visa-card {
    width: 90vw;
  }
  .visa-card img {
    width: 100%;
    height: 100%;
  }
  .visa-name {
    font-size: x-large;
  }
  .visa-more {
    font-size: medium;
  }

  .scroll-back {
    font-size: medium;
    left: 65vw;
  }

  .whats-app {
    left: 0;
  }

  .styles-module_whatsappButton__tVits {
    left: 20px !important;
  }

  .styles-module_whatsappChatBox__MdQ5U {
    left: 20px !important;
  }

  .global-sub {
    font-size: large;
  }

  .global-main {
    font-size: 25px;
  }

  .header-button {
    height: 46px;
    background-color: #045690;
    color: white;
    border-radius: 4px;
    border: none;
    font-family: Noto Sans;
    font-size: medium;
    line-height: 150%;
    font-weight: 600;
    width: 350px;
    cursor: pointer;
    padding-inline: 25px;
  }

  .visa-name {
    bottom: 15% !important;
  }

  .service-title {
    text-align: center !important;
    position: relative;
    top: 30px;
  }

  .services-text {
    position: relative;
    top: 30px;
    margin-bottom: 50px !important;
  }

  .contact-us-heading {
    font-size: x-large;
  }

  .services {
    margin-top: 20px !important;
  }

  .visas {
    padding-top: 30px !important;
  }

  .associated {
    text-align: left !important;
    margin-inline: 0 !important;
    margin-left: 20px !important;
  }
}

@media (min-width: 800px) and (max-width: 1200px) and (min-height: 400px) and (max-height: 1000px) {
  .image-zoom {
  }
  .serving-text {
    top: 70vh !important;
  }
}

@media (min-width: 1500px) {
  .image-zoom {
    left: 40% !important ;
  }
  .serving-text {
    top: 70vh !important;
    left: 38% !important;
  }
}
